html
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:blue;
}
#TopHeader
{
    background-color:rgb(28, 28, 206);
    text-align:center;
    width:100%;
    height:auto;
    border-width:5px;
    border-color:rgb(172, 22, 213);
    border-style:inset;
    
}
#LeftArticle, #MidArticle, #RightArticle
{
    width:30%;
    height:80%;
    float:left;
    margin:4px;
    text-align:center;
    border-width:2px;
    border-color:rgb(172, 22, 213);
    border-style:inset;
}
#LeftArticle:hover, #MidArticle:hover, #RightArticle:hover
{
    border-width:2px;
    border-color:rgb(197, 40, 241);
    border-style:inset;
}
#LeftArticle
{
    background-color:rgb(28, 28, 206);
}
#MidArticle
{
    background-color:rgb(98, 20, 200);
}
#RightArticle
{
    background-color:rgb(174, 7, 192);
}
#ProjectName, #ProjectDesc
{
    
}