html, body
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(132, 29, 132);
    margin:0px;
    padding:0px;
}
#TopHeader
{
    width:100%;
    height:auto;
    background-color:blueviolet;
    border-color:rgb(107, 16, 152);
    border-width:5px;
    border-style:inset;
    margin:0px;
    padding:0px;
}
a
{
    text-decoration:none;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.buttonhome, .buttonbio, .buttonprojects, .buttonsocials, .buttonetc
{
    background-color:green;
    width:20%;
    float:left;
    cursor: pointer;
    text-align:center;
    border-color:darkgreen;
    border-width:3px;
    border-style:solid;
    margin:0px;
    padding:0px;
    
}
.buttonhome:hover, .buttonbio:hover, .buttonprojects:hover, .buttonsocials:hover, .buttonetc:hover
{
background-color:rgb(25, 34, 11);
border-color:olivedrab;
}
.buttonhome, .buttonprojects, .buttonetc
{

}
.buttonbio, .buttonsocials
{
    height:fit-content;
}
#siteinfo
{
    width:100%;
    float:left;
    
}